.product_container{
    margin-top: 100px;
    display: flex;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
}
.product_container section{
    margin: 0 auto;
}